body {
  padding-top: 50px;
}

h3 {
	text-align: center;
}

th {
	text-align: center;
}

table {
	text-align: center;
}

.header {
  padding: 40px 15px;
  text-align: center;
}

.buttons {
	text-align: center;
}

.content {
	margin-top: 15px;
}

#cy {
  height: 300px;
  width: 100%;
  position: absolute;
}


