body {
  padding-top: 50px;
}
.header {
  padding: 40px 15px;
  text-align: center;
}

.buttons {
	text-align: center;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
